<div class="box subnav">
  <ul>
    <li>
      <a href="#">
        <img src="/static/index/imgs/icon1.png"><span>澳门六合</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="/static/index/imgs/icon2.png"><span>幽默猜测</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="/static/index/imgs/icon3.png"><span>开奖日期</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="/static/index/imgs/icon4.png"><span>正版通天</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="/static/index/imgs/icon5.png"><span>香港挂牌</span>
      </a>
    </li>
  </ul>
</div>
