<style>
  body {
    background-color: #f5f7f9;
    margin: 0;
  }
  .ly-form {
    padding: 20px;
    margin-bottom: 0;
  }
  .ly-input {
    border: 1px solid #eee;
    height: 38px;
    line-height: 38px;
    width: 100%;
    padding-left: 10px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 15px;
  }
  .ly-input:last-child {
    margin-bottom: 0;
  }
  .ly-input:focus {
    border-color: #d2d2d2;
    outline: none;
  }
</style>

<form class="ly-form">
  <input
    type="number"
    name="num1"
    placeholder="第一个号码"
    autocomplete="off"
    class="ly-input"
  />

  <input
    type="number"
    name="num2"
    placeholder="第二个号码"
    autocomplete="off"
    class="ly-input"
  />

  <input
    type="number"
    name="num3"
    placeholder="第三个号码"
    autocomplete="off"
    class="ly-input"
  />

  <input
    type="number"
    name="num4"
    placeholder="第四个号码"
    autocomplete="off"
    class="ly-input"
  />

  <input
    type="number"
    name="num5"
    placeholder="第五个号码"
    autocomplete="off"
    class="ly-input"
  />

  <input
    type="number"
    name="num6"
    placeholder="第六个号码"
    autocomplete="off"
    class="ly-input"
  />

  <input
    type="number"
    name="num"
    placeholder="开奖号码(结果)"
    autocomplete="off"
    class="ly-input"
  />
</form>
