@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; font-size: 100%;}
html { background: white;}
body { width: 100%; max-width: 720px; min-height: 100vh; margin: 0 auto; line-height: 1.5; font-size: 14px; font-family: "微软雅黑"; word-break: break-all; word-wrap: break-word;}
input, select, button, textarea { margin: 0; padding: 0; vertical-align: middle; font-size: 100%; color: inherit; border: 0; font-family: inherit; outline: none; resize: none;-webkit-appearance: none;}
ol, ul {list-style: none;}
img { max-width: 100%; vertical-align: middle;}
a { display: inline-block; text-decoration: none; color: inherit;}
a:hover { text-decoration: underline;}
:focus { outline: 0;}
table { border: 0; border-spacing: 0;}

.h10 { height: 10px; font-size: 0; line-height: 0; clear: both; background: #f5f5f5;}
.clear { clear: both;}

.header { width: 100%; max-width: 720px; height: 55px; border-radius: 0 0 5px 5px; overflow: hidden; background: white; position: relative; top: 0; left: 0; right: 0; margin: auto; z-index: 9;}
.header.headerin { height: 55px;}
.header .logo-bar { height: 55px;}
.header .logo-bar .big-title {
	font-size: 38px;
}
.header img {
	height: 55px;
}
.header-blank img {
	height: 166px;
}
.jjtz {
	background-color: red;
	position: absolute;
	top: 12px;
	font-size: 20px;
	color: white;
	left: 50%;
	padding: 2px 12px;
	font-weight: 700;
	animation: slide 1s linear infinite;
}
@keyframes slide {
	0% {
		color: white;
	}
	100% {
		color: red;
	}
}
.header .logo-bar .small-title {
	font-size: 28px;
}
.header .logo-bar .logo img { height: 60px;}
.header .logo-bar .quan { width: 60px; height: 60px; position: absolute; left: 0; right: 0; margin: auto;}
.header .logo-bar .quan img { width: 60px; height: 60px; border-radius: 50%; box-shadow: 0px 0px 20px #000;-webkit-animation: z 5s linear 0s infinite;
    -moz-animation: z 5s linear 0s infinite;
    -ms-animation: z 5s linear 0s infinite;
    animation: z 5s linear 0s infinite;
    box-shadow: 0px 0px 20px #000;}
.header .logo-bar .home { line-height: 1; text-align: center; color: #fff; font-size: 12px;}
.header .logo-bar .home img { width: 30px; height: 30px; margin-bottom: 3px;}
.header .logo-bar .home span { display: block;}
.header .nav { color: #fff; border-top: solid 1px #000;}
.header .nav ul { display: flex; justify-content: space-around; text-align: center;}
.header .nav ul li { width: 16.666%;}
.header .nav ul li a { height: 30px; line-height: 30px; display: block;}
.header .nav ul li a:hover { text-decoration: none; background: #1d79eb;}
.header-blank { height: 166px;}
.headerin-blank { height: 166px;}

@-webkit-keyframes z {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}


.box { margin: 5px 0; border-radius: 5px; background: white;}
.pad { padding: 4px;}
@media screen and (max-width: 720px) {
.box { margin: 5px;}
}

.news { display: flex; height: 60px; line-height: 60px; padding: 0 5px; color: #fff;font-size: 24px;}
.news-tit {display: flex; align-items: center;}
.news-tit img { width: 35px; height: 35px; margin-right: 5px; vertical-align: top;}
.news-con { flex: 1;}
@media screen and (max-width: 720px) {
	.news {
		font-size: 16px;
		height: 45px;
		line-height: 45px;
	}
}

.subnav { line-height: 1; text-align: center; font-size: 16px; font-weight: bold; background: #e7f1fd;}
.subnav ul { display: flex; justify-content: space-around;}
.subnav ul li {}
.subnav ul li a { padding: 5px 3px 8px 3px;}
.subnav ul li a img { margin-bottom: 5px;animation-duration:4s;	animation-fill-mode:both;}
.subnav ul li a span { display: block; text-shadow: 0px 2px 1px #ff9c00;}
@media screen and (max-width: 720px) {
.subnav { font-size: 14.5px;}
}

.subnav ul li:nth-child(1) a img,.subnav ul li:nth-child(2) a img{
	animation-name:fadeInLeft;
}
.subnav ul li:nth-child(3) a img{
	animation-name:bounceInDown;
}
.subnav ul li:nth-child(4) a img,.subnav ul li:nth-child(5) a img{
	animation-name:fadeInRight;
}

@keyframes fadeInLeft{0%{opacity:0;transform:translate3d(-100%,0,0)}to{opacity:1;transform:none}}
@keyframes fadeInRight{0%{opacity:0;transform:translate3d(100%,0,0)}to{opacity:1;transform:none}}
@keyframes bounceInDown{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,-3000px,0)}60%{opacity:1;transform:translate3d(0,25px,0)}75%{transform:translate3d(0,-10px,0)}90%{transform:translate3d(0,5px,0)}to{transform:none}}
.subnav a:hover{
	animation-name:pulse;
	animation-duration:1s;
	animation-fill-mode:both;
}
@keyframes pulse{0%{transform:scaleX(1)}50%{transform:scale3d(1.05,1.05,1.05)}to{transform:scaleX(1)}}

.url { line-height: 1.3; font-weight: bold; text-align: center; font-size: 17px;}
.url dl { display: flex; flex-direction: row; flex-wrap: wrap;}
.url dl dt { width: 100%; color: #ff0;}
.url dl dd { width: 33.33%; color: #fff;animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;}

.bzlx { text-align: center; font-size: 18px; font-weight: bold; background: #fff;}
.bzlx th { color: #fff; border: solid 1px white; background: #84BAF7;}
.bzlx td { border: solid 1px white;}
.bzlx td.td1 {width: 20%!important;}
.bzlx td.td2 { color: #00f; font-size: 20px;}
.bzlx td.td3 { color: #f00;}

.gsbq { border-collapse: collapse; table-layout: fixed; text-align: center; font-size: 18px; background: #0F0;}
.gsbq th { color: #fff; font-weight: normal; border: solid 1px #e5e5e5; background: #09f;}
.gsbq td { padding: 3px 0; border: solid 1px #e5e5e5;}
.gsbq td a { display: block; line-height: 34px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

.kjcj { background: #fff;}

.ptyx { font-size: 16px; font-weight: bold; background: #fff;}
.ptyx th { font-size: 18px; color: #00f; border: solid 1px white; background: #84BAF7;}
.ptyx td { height: 32px; padding: 0 5px; color: #333; border: solid 1px white;}


.tit { line-height: 40px; padding-bottom: 3px; color: #ff0; text-align: center; font-weight: bold; font-size: 26px; text-shadow: 1px 4px 1px #b99b5f; border-bottom: solid 1px #000; background: linear-gradient(transparent,#dacfcf);}

.tie-con { font-size: 16px; background: #fff;}
.tie-con ul {}
.tie-con ul li { background: url(/static/index/imgs/tj.gif) 5px center no-repeat;}
.tie-con ul li a { display: block; padding: 0 20px 0 40px; line-height: 36px; font-weight: bold; border-bottom: solid 1px #b99b5f; background: url(../images/arrow.png) right center no-repeat; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.tie-con.gaoshou { background: url(/static/index/imgs/img1.png) bottom right no-repeat #fff;}
@media screen and (max-width: 720px) {
.tie-con { font-size: 14px;}
}

.dgk { font-weight: bold; background: #fff;}
.dgk th { padding: 5px; color: #ff0; border: solid 1px white; background: #84baf7;}
.dgk td { width: 50%; padding: 5px; box-sizing: border-box; border: solid 1px white;}
.dgk span { background: #ff0;}

.sqbk { text-align: center; font-weight: bold; background: #fff;}
.sqbk th { color: #fff; font-size: 18px; border: solid 1px white; background: #84BAF7;}
.sqbk td { line-height: 1.3; font-size: 16px; border: solid 1px white;}
.sqbk td.td1 { width: 30%;}
.sqbk td.td2 { color: #00f; font-size: 26px;}
.sqbk td.td3 { width: 30%;}

.jx24m { text-align: center; font-weight: bold; background: #fff;}
.jx24m th { color: #fff; font-size: 18px; border: solid 1px white; background: #84BAF7;}
.jx24m td { line-height: 1.2; font-size: 17px; border: solid 1px white;}
.jx24m td.td1 { width: 16%;}
.jx24m td.td2 { color: #00f; font-size: 18px; font-family: "宋体";}
.jx24m td.td3 { width: 16%; color: #f00;}

.yxym { border-collapse: collapse; text-align: center; background: #fff;}
.yxym th { height: 30px; color: #fff; font-size: 16px; font-weight: normal; border: solid 1px #e5e5e5; background: #84BAF7;}
.yxym td { height: 30px; font-size: 15px; border: solid 1px #e5e5e5;}
.yxym td.td1 { width: 25%; color: #fff; background: #84BAF7;}
.yxym td.td2 { color: #00f;}
.yxym td.td2 span { background: #ff0;}
.yxym td.td3 { width: 25%; color: #fff; background: #84BAF7;}
@media screen and (max-width: 720px) {
.yxym td { font-size: 13px;}
.yxym td.td3 { width: 20%;}
}

.xjct { line-height: 1.75; font-size: 16px; background: #fff;}
.xjct th { color: #fff; border: dashed 1px #c0c0c0; background: white;}
.xjct td { text-align: center; border: dashed 1px #c0c0c0;}
.xjct-pic { background: #a6b796;}

.juesha-tit { margin-bottom: 5px; text-align: center; font-size: 32px; font-weight: bold; color: #ff0; text-shadow: 0px 1px 1px #000;}
.juesha { font-size: 14px; font-weight: bold; background: #b3d3f9;}
.juesha th { height: 35px; color: #fff; border: solid 1px #636262; background: #000;}
.juesha td { height: 35px; text-align: center; border: solid 1px #636262;}

.tongtian { color: #fff; font-size: 18px; background: #000;}
.tongtian-tit { height: 50px; line-height: 50px; margin-bottom: 5px; text-align: center; font-weight: bold; text-shadow: 0px 1px 10px #000; border-radius: 5px; background: white;}
.tongtian-con { border-spacing: 2px; font-size: 16px; font-weight: bold;}
.tongtian-con td { height: 30px; line-height: 1.2; text-align: center; border: solid 1px white;}
@media screen and (max-width: 720px) {
.tongtian-con { font-size: 13px;}
}

.footer { padding: 5px 0; color: #fff; text-align: center;}
.footer dl { padding: 0 10%;}
.footer dl dd { padding: 5px 0; border-bottom: solid 1px #000;}
.footer a:hover { color: #f00!important;}
.footer div { padding: 5px 0;}

.toplinks { text-align: center; font-size: 16px; font-weight: bold; color: #000080; border-collapse: collapse; background: #fff;}
.toplinks tr:nth-child(2n) { color: #f00;}
.toplinks td { height: 40px; border: solid 1px #e5e5e5;}

.big-con { background: url(../images/big-bg.png) top right no-repeat #fff;}
.big-con .big-tit { padding: 8px 8px 0 8px;}
.big-con .big-tit h1 { padding: 8px 0 16px 0; font-size: 18px; font-weight: bold; border-bottom: solid 1px #ffeda4;}
.big-con .big-tit p { padding: 8px 0; font-size: 16px; color: #d2b335; border-bottom: solid 1px #ffeda4;}
.big-con .big-txt { line-height: 2; padding: 8px; font-weight: bold; font-size: 15px; color: #333;}
.big-con .big-txt hr { height: 1px; margin: 8px 0; border: 0; background: #ffeda4;}

.yjym { color: #f00; text-align: center; font-size: 16px; font-weight: bold; background: #ff0;}

.meinv { width: 100%; height: auto;}
